/bin/*
!/bin/.gitkeep

/ext/util_*/dst/
/ext/swc_pkg/

/log/*
!/log/.gitkeep

/ref/*
!/ref/.gitkeep

/src/*/.*
!/src/*/.depend*
!/src/*/.islibrary
/src/*/bin/

/config4*.properties
/flex_config_*.xml
