/.vscode/

/bin/*
!/bin/.gitkeep

/ext/util/*/dst/
/ext/util/*/*.jar

/ext/ant_flex/classes/
/ext/ant_flex/*.jar

/log/*
!/log/.gitkeep

/ref/*
!/ref/.gitkeep

/src/*/.*
!/src/*/.fixlib
!/src/*/.depend*
!/src/*/.islibrary
/src/*/asconfig.json
/src/*/lib/*/.gitkeep
/src/*/rsl/*/.gitkeep
/src/*/bin/

/tmp/

/config4*.properties
/flex_config_*.xml
